@use"../custom" as*;
html{
    scroll-behavior: smooth;
}
.one{
    display: none;
    opacity: 0;
}
.me+span:hover .one{
    display: block;
    transform: scale(1.0);
    opacity: 1;
}
form>.check{
    background: red;
    border: 1px solid $primary;
    width: 100%;
}
input[type=text]:focus{
font-size: 1em;
color: $primary;
}
input[type=text]::placeholder{
font-size: 1em;
color: $primary;
}
input[type=text]:hover {
    border: 1px solid rgba(26, 135, 84, 0.25);
}
big{
   margin: 0 2px 0 0; 
}
@media (max-width:700px) {
    input[type=text],
    input[type=text]:focus,
    input[type=text]:active {
        font-size: .85em;
        color: $primary;
    }
}
@media (max-width:400px) {
input[type=text]::placeholder {
   font-size: .85em;
}
}

